<!DOCTYPE HTML>
<html>
<head>
<title>404 Page not found</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
 <link rel='stylesheet' href='@routes.Assets.at("stylesheets/pageNotFound.css")'>
</head>
<body 	background='@routes.Assets.at("images/pageNotFoundbg.png")'>
	<div class="wrap">
	   <div class="logo">
	   		<p>Perfect Sale</p>
	   </div>
	   <div class="title">
	  		 <h1>You've Failed</h1>
	   		 <h2>404 Error!</h2>
	  </div>
	</div>
	<div class="wrap">
	    <div class="gray">
  	    	<a href="#" class="ag-3d_button orange">Go Back </a>
  	     </div>
   </div>
	<div class="footer">
	 Design by-<a href="http://perfectSale.com">PerfectSale</a>
	</div>
</body>